body{
    display: block;
    background-image: url(https://cdn.pixabay.com/photo/2018/01/29/18/16/cube-3116778__340.jpg);
    background-size: cover;
    opacity: 50;
    width: 100%;
}

h1{
    font-size: xx-large;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#container{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: auto;
    margin: auto;
    margin-top: 2%;
}
#container > div{
    display: flex;
    justify-content: space-around;
    width: auto;
}


#winner{
    font-weight: bolder;
    width: 60%;
    font-size: larger;
    background-color: rgb(251, 248, 248);
    color: rgb(23, 3, 3);
    border: 1px solid black;
    border-radius: 8px;
    height: 40px;
    margin-bottom: 5%;
    padding-top: 2%;
}


#member-1,
#member-2,
#member-3{
    align-items: center;
    text-align: center;
    margin: 3%;
    border: 5px solid rgb(251, 248, 248);
    border-radius: 10px;
    padding-top: 4%;
    padding-bottom: 0%;
    width: 50px;
    height: 50px;
    color: rgb(238, 245, 246);
    font-size: x-large;
    font-weight: bolder;
}
button{
    font-weight: bolder;
    width: 40%;
    padding: 1%;
    margin-top: 1%;
    background-color: red;
    color: white;
    border: 5px solid white;
    border-radius: 15px;
    text-decoration: none;
}
h5{
    background-color: white;
    padding: 1% 3% 1% 3%;
    border-radius: 3px;
}




@media all and (min-width: 481px) and (max-width: 768px){
    #container{
        margin-top: 4%;
    }

    h1{
        font-size: large;
        color: white;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    #member-1,
    #member-2,
    #member-3{
        align-items: center;
        text-align: center;
        border: 5px solid rgb(251, 248, 248);
        border-radius: 10px;
        padding-top: 4%;
        padding-bottom: 0%;
        width: 38px;
        height: 30px;
        color: rgb(238, 245, 246);
        font-size: large;
        font-weight: bolder;
    }

    #winner{
        font-size: 13px;
    }

    h5{
        font-size: 10px;
        margin-top: 20%;
    }

    button{
        font-size: 10px;
    }
}
@media all and (min-width: 320px) and (max-width: 480px){
    #container{
        margin-top: 25%;
    }

    h1{
        font-size: large;
        color: white;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    #member-1,
    #member-2,
    #member-3{
        align-items: center;
        text-align: center;
        border: 5px solid rgb(251, 248, 248);
        border-radius: 10px;
        padding-top: 4%;
        padding-bottom: 0%;
        width: 38px;
        height: 30px;
        color: rgb(238, 245, 246);
        font-size: large;
        font-weight: bolder;
    }

    #winner{
        font-size: 13px;
    }

    h5{
        font-size: 10px;
        margin-top: 20%;
    }
    button{
        width: 50%;
        font-size: 10px;
    }
}